<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- brand & toggle get grouped together for better mobile display -->
    <div class="brand-header">
      <a class="navbar-brand" href="#">JDStore3</a>
    </div>

    <!-- collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav pull-right">
        <li> <%= link_to("Signup", "") %></li>
        <li> <%= link_to("Login", "") %></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
